@import 'styles/commons/mixins';
@import 'styles/commons/variables';

#home {
    width: 1024px;
    margin: 0 auto;
    #header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        #welcome {
            font-size: 35px;
            font-weight: 600;
        }
        #description {
            font-size: 20px;
        }
    }
    #body {
        .title {
            font-size: 35px;
            font-weight: 600;
        }
        .types {
            display: flex;
            gap: 10px;
        }
        .graph_handler {
            display: flex;
            gap: 20px;
        }
        #growth {
            .graphHandler {
                .sort {
                    display: flex;
                    align-items: center;
                    .addMenuModal {
                        position: absolute;
                        background-color: white;
                        padding: 10px;
                        width: 200px;
                    }
                }
            }
        }
        #aboutme {
        }
    }
}
