@import 'styles/commons/mixins';
@import 'styles/commons/variables';

$pc_width: 1024px;
$title_font_size: 30px;
$contetn_font_size: 15px;

#home {
    width: $pc_width;
    margin: 0 auto;
    #header {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        #welcome {
            font-family: $eng_font_basic;
            font-size: $title_font_size;
            font-weight: 600;
        }
        #description {
            margin-top: 10px;
            font-size: 15px;
        }
    }
    #body {
        .types {
            font-family: $eng_font_basic;
            font-size: $contetn_font_size;
            display: flex;
            gap: 10px;
            margin-top: 8px;
        }
        #boardTable {
            margin-top: 15px;
            .title {
                font-family: $eng_font_basic;
                font-size: $title_font_size;
                font-weight: 600;
            }
            .graphHandler {
                margin-top: 8px;
                .sort,
                .filter {
                    .key {
                        font-family: $kor_font_basic;
                        font-size: $contetn_font_size;
                    }
                    display: flex;
                    align-items: center;

                    .addButton {
                        margin-left: 10px;
                        span {
                            font-family: $kor_font_basic;
                            font-size: 13px;
                            color: $kworld-palette-secondary-700;
                            user-select: none;
                        }
                    }
                }
                .filter {
                }
            }

            .graphBox {
                margin-top: 15px;
                .table {
                    width: 100%;
                    border-collapse: collapse;
                    $td_padding: 5px 3px;

                    td {
                        padding: 5px 3px;
                    }

                    thead {
                        border-bottom: 1px solid $kworld-palette-secondary-300;

                        td {
                            font-family: $kor_font_basic;
                            font-size: $contetn_font_size;
                            color: $kworld-palette-primaryDark-400;
                        }
                    }

                    .deleteButton {
                        position: absolute;
                        left: -20px;
                    }
                }
                .addListButton {
                    font-size: 13px;
                    padding: 3px;
                    color: $kworld-palette-primaryDark-400;
                    border-top: 1px solid $kworld-palette-secondary-100;
                }
            }
        }
        .addMenuModal {
            position: fixed;
            background-color: white;
            padding: 10px;
            width: 200px;
            top: 0;
            left: 0;

            .item {
                user-select: none;
            }
        }
        .filterMenu,
        .sortMenu {
            display: flex;
        }
    }
}
