@mixin set-display-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin set-display-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin set-display-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin set-display-spread {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin common-button {
    @include set-display-center;
    background-color: unset;
    border: none;
    border-radius: 3px;
    padding: 5px;
    &:hover {
        cursor: pointer;
        background-color: $kworld-palette-primary-50;
    }
}
