$basic_white: #ffffff;

$kworld-palette-primary-50: #f0f7ff;
$kworld-palette-primary-100: #c2e0ff;
$kworld-palette-primary-200: #99ccf3;
$kworld-palette-primary-300: #66b2ff;
$kworld-palette-primary-400: #3399ff;
$kworld-palette-primary-500: #007fff;
$kworld-palette-primary-600: #0072e5;
$kworld-palette-primary-700: #0059b2;
$kworld-palette-primary-800: #004c99;
$kworld-palette-primary-900: #003a75;
$kworld-palette-primary-main: #007fff;
$kworld-palette-primary-light: #66b2ff;
$kworld-palette-primary-dark: #0059b2;
$kworld-palette-primary-contrastText: #fff;
$kworld-palette-primary-mainChannel: 0 127 255;
$kworld-palette-primary-lightChannel: 102 178 255;
$kworld-palette-primary-darkChannel: 0 89 178;
$kworld-palette-primary-contrastTextChannel: 255 255 255;
$kworld-palette-secondary-50: #f3f6f9;
$kworld-palette-secondary-100: #e5eaf2;
$kworld-palette-secondary-200: #dae2ed;
$kworld-palette-secondary-300: #c7d0dd;
$kworld-palette-secondary-400: #b0b8c4;
$kworld-palette-secondary-500: #9da8b7;
$kworld-palette-secondary-600: #6b7a90;
$kworld-palette-secondary-700: #434d5b;
$kworld-palette-secondary-800: #303740;
$kworld-palette-secondary-900: #1c2025;
$kworld-palette-secondary-main: #dae0e7;
$kworld-palette-secondary-contrastText: #2f3a46;
$kworld-palette-secondary-light: rgb(225, 230, 235);
$kworld-palette-secondary-dark: rgb(152, 156, 161);
$kworld-palette-divider: #e5eaf2;
$kworld-palette-primaryDark-50: #eaedf1;
$kworld-palette-primaryDark-100: #dae0e7;
$kworld-palette-primaryDark-200: #acbac8;
$kworld-palette-primaryDark-300: #7b91a7;
$kworld-palette-primaryDark-400: #4b5e71;
$kworld-palette-primaryDark-500: #3b4a59;
$kworld-palette-primaryDark-600: #2f3a46;
$kworld-palette-primaryDark-700: #1f262e;
$kworld-palette-primaryDark-800: #141a1f;
$kworld-palette-primaryDark-900: #101418;
$kworld-palette-primaryDark-main: #7b91a7;
$kworld-palette-common-black: #0b0d0e;

$eng_font_basic: 'General Sans', sans-serif;
$kor_font_basic: 'Noto Sans KR', sans-serif;
