@import 'styles/commons/mixins';
@import 'styles/commons/variables';

#til {
    background-color: white;
    box-shadow: 0px 0px 10px 1px #555555;
    position: fixed;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    font-size: 20px;
    margin: 0 auto;
    overflow-y: scroll;

    & #container {
        #header {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2% 4%;

            #backButton,
            #utilButtons {
                button {
                    @include set-display-center;
                    @include common-button;
                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            #backButton {
            }
            #utilButtons {
                display: flex;
            }
        }
        #infos {
            padding: 0 4% 4% 4%;
            #title {
                margin-bottom: 10px;
            }
            .info {
                @include set-display-start;

                .key {
                    user-select: none;
                    width: 20%;
                    span {
                        font-size: 15px;
                    }
                }
                .value {
                    min-width: 200px;
                    border-radius: 3px;
                    padding: 2px 10px;

                    span {
                        font-size: 15px;
                    }
                    &:hover {
                        background-color: $kworld-palette-secondary-50;
                        cursor: pointer;
                        input {
                            background-color: $kworld-palette-secondary-50;
                        }
                    }
                }
            }
        }
        #publishedContent {
            padding: 0 4%;
            p {
                margin: 0;
                padding: 0;
            }
        }
    }
}
