@import 'styles/commons/mixins';
@import 'styles/commons/variables';

#livePage {
    padding: 0 4%;
    font-family: $kor_font_basic;
    margin-bottom: 50px;
    #title {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    #content {
        p,
        h6,
        h5,
        h4,
        h3,
        h2,
        h1 {
            margin: 0;
            padding: 0;
        }

        p {
            font-size: 15px;
        }

        img {
            max-width: 100%;
        }
    }
}
.ql-video {
    width: 100%;
}
