@import 'styles/commons/mixins';
@import 'styles/commons/variables';

#til {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    & #left_container {
        width: 30%;
        background-color: $basic_white;
        overflow-y: scroll;
        #list {
            .item {
                padding: 15px;
                border-radius: 4px;

                &:hover {
                    background-color: lightgrey;
                }

                &[data-active='true'] {
                    background-color: antiquewhite;
                }

                #title {
                    span {
                        font-size: 18px;
                    }
                }
                #date_content {
                    span {
                        font-size: 15px;
                    }
                    span + span {
                        margin-left: 15px;
                    }
                }
                #category {
                    span {
                        font-size: 14px;
                    }
                }
            }

            .item + .item {
                border-top: 1px solid grey;
            }
        }
    }
    & #right_container {
        height: 100vh;
        width: 70%;
        #infos {
            padding: 4%;
            #title {
                margin-bottom: 10px;
            }
            .info {
                @include set-display-start;

                .key {
                    width: 20%;
                    span {
                        font-size: 15px;
                    }
                }
                .value {
                    span {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
